<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Projet de prédiction des prix des voitures d'occasion grâce à des techniques de Machine Learning. Analyse exploratoire et outil de prédiction inclus.">
    <title>Accueil - Car Price Predict</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css"> 
</head>
<body>
    <div class="container mt-5">
        <!-- Logo ou image -->
        <div class="text-center mb-4">
            <img src="/static/logo.jpg" alt="Logo du Projet Voiture" class="img-fluid" style="max-width: 150px;">
        </div>
        <!-- Titre de la page -->
        <h1 class="text-center text-primary">Bienvenue dans le Projet de Prédiction des Prix des Voitures d'Occasion</h1>
        <!-- Description du projet -->
        <p class="text-center mt-3">
            Ce projet vise à prédire le prix des voitures d'occasion à partir de différentes caractéristiques telles que l'année, le kilométrage, la puissance du moteur, etc.
        </p>
        <!-- Section Missions -->
        <h3 class="mt-5 text-secondary">Nos Missions :</h3>
        <ol>
            <li>Analyser les facteurs déterminants des prix des voitures d'occasion.</li>
            <li>Fournir des statistiques claires et utiles pour les acheteurs et les vendeurs.</li>
            <li>Créer un modèle de Machine Learning capable de prédire précisément les prix des véhicules.</li>
            <li>Optimiser les décisions d'achat et de vente grâce à des informations basées sur les données.</li>
            <li>Améliorer l'expérience utilisateur sur la plateforme Ward Auto.</li>
        </ol>
        <!-- Section Objectifs -->
        <h3 class="mt-5 text-secondary">Nos Objectifs :</h3>
        <ul>
            <li>Utiliser des techniques de Machine Learning pour la prédiction des prix.</li>
            <li>Développer des outils interactifs pour visualiser les données et les résultats des prédictions.</li>
            <li>Permettre aux vendeurs de fixer des prix compétitifs et aux acheteurs de mieux évaluer leurs transactions.</li>
        </ul>
        <h3 class="mt-5 text-secondary">Contributeurs :</h3>
        <ul>
            <li>DIACK Bocar Mamoudou</li>
            <li>NDAO Mamadou Lamine</li>
            <li>NGOM Fallou</li>
            <li>SARR Abdou Karim</li>
        </ul>
        <!-- Liens d'accès aux différentes sections du projet -->
        <div class="text-center mt-4">
            <a href="/exploratory_analysis" class="btn btn-primary btn-lg mx-2" title="Découvrez les statistiques sur les données">Avoir un apperçu sur les prix</a>
            <a href="/predict" class="btn btn-success btn-lg mx-2" title="Prédisez le prix des voitures">Acceder à l'Application de Prédiction</a>
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center mt-5 mb-3">
        <p>&copy; Ecole Nationale de la Statistique et de l'Analyse économique (ENSAE) </p>
    </footer>

    <!-- Scripts Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
